<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {{>head}}
    {{!-- 页面描述 --}}
    <meta name="description" content="这是首页"/>
    <title>xx官网</title>
  </head>
  <body>
    {{ message }}
  </body>
</html>