<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {{>head}}
    {{!-- 页面描述 --}}
    <meta name="description" content="这是首页"/>
    <title>xx官网</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div class="home">
      {{ message }}
      <img class="home-open-img" src="./images/ad-open.png" alt="" srcset="">
    </div>
    <script src="./js/main.js"></script>
  </body>
</html>