<!DOCTYPE html>
<html>

<head>
  {{>meta}}
  <title>xx官网{{title}}</title>
  <link rel="stylesheet" href="" integrity="" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/bulma.css">
  <link rel="stylesheet" href="./css/style.css">
  <script src="./js/socket.io.min.js"></script>
</head>

<body>
  {{>navbar}}
  {{{body}}}
</body>

</html>