# Default Homebrew MySQL server config

[mysqld]
# 只允许本地连接
bind-address = 127.0.0.1
mysqlx-bind-address = 127.0.0.1
# 用户名
user=admin
default-storage-engine=INNODB
character-set-server = utf8mb4
collation-server=utf8mb4_general_ci
init_connect='SET NAMES utf8'
# 密码策略
default-authentication-plugin   = mysql_native_password
explicit_defaults_for_timestamp = true
lower_case_table_names          = 1
max_allowed_packet              = 128M

[client]
character-set-client-handshake=FALSE
default-character-set=utf8

[mysql]
default-character-set=utf8
