# 客户端
[client]
default-character-set=utf8mb4
port=3306
socket = /var/run/mysqld/mysqld.sock

[mysql]
default-character-set=utf8mb4
no-auto-rehash
auto-rehash

[mysqld]
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
datadir=/var/lib/mysql
# 错误日志目录
log-error=/var/lib/mysql/error.log
# 绑定地址
bind-address=localhost
# 签名相关(请求时的签名相关)
# ssl_ca = /var/lib/mysql/ca.pem
# ssl_cert = /var/lib/mysql/server-cert.pem
# ssl_key = /var/lib/mysql/server-key.pem
# 是否要求客户端使用加密连接
require_secure_transport=OFF
# 认证插件 mysql8
# 新版本建议使用 authentication_policy=* 替代 default-authentication-plugin=mysql_native_password
# ​​老版本中 default-authentication-plugin​ ​表示密码存储方式保留为传统方式.
authentication_policy=*
# 允许的最大包裹
max_allowed_packet=32M
# 是否读取 default_character_set 里设置的值.
character-set-client-handshake=false
# 服务器编码字符集
character-set-server=utf8mb4
# 服务器编码字符序
collation-server=utf8mb4_unicode_ci
# 只在普通用户的客户端连接时才执行此参数,超级用户或有连接管理权限的用户会跳过这个设置.
# 注意1:一个 init_connect 可以带一个或多个sql语句.
# 注意2:init_connect 的 sql 语句中若包含错误,则会导致连接失败.
# 注意3:init_connect 常结合 mysql 自身日志执行审计,init_connect 用来记录普通用户的登录信息.
init_connect='SET NAMES utf8mb4'
# 事务隔离=只读提交
transaction_isolation=READ-COMMITTED
# 区分大小写
lower-case-table-names=2
# 默认存储引擎
default-storage-engine=INNODB
# 连接超时(单位为秒)
connect_timeout=20
# 最大连接数
max_connections=666