# 客户端
[client]
default-character-set=utf8mb4
socket=/var/run/mysqld/mysqld.sock
port=3306
user=mysql8_admin

[mysql]
default-character-set=utf8mb4
no-auto-rehash
auto-rehash

[mysqld]
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
datadir=/var/lib/mysql
# 端口
# 绑定地址
# 注意:这里不能设置绑定的 ip 因为如果设置了,在容器内很可能不能访问.
# bind-address=localhost
port=3306
# 使用指定账户启动 mysql
user=mysql8_admin
# 错误日志目录
log-error=/var/lib/mysql/error.log
# 是否要求客户端使用加密连接
require_secure_transport=OFF
# 认证插件 mysql8
# 注意1:新版本建议使用 authentication_policy=* 替代 default-authentication-plugin=mysql_native_password
# ​注意2:​老版本中 default-authentication-plugin​ ​表示密码存储方式保留为传统方式.
authentication_policy=*
# 允许的最大包裹
max_allowed_packet=32M
# 是否读取 default_character_set 里设置的值.
character-set-client-handshake=false
# 服务器编码字符集
character-set-server=utf8mb4
# 服务器编码字符序
collation-server=utf8mb4_unicode_ci
# 只在普通用户的客户端连接时才执行此参数,超级用户或有连接管理权限的用户会跳过这个设置.
# 注意1:一个 init_connect 可以带一个或多个sql语句.
# 注意2:init_connect 的 sql 语句中若包含错误,则会导致连接失败.
# 注意3:init_connect 常结合 mysql 自身日志执行审计,init_connect 用来记录普通用户的登录信息.
init_connect='SET NAMES utf8mb4'
# 事务隔离=只读提交
transaction_isolation=READ-COMMITTED
# 不区分大小写,解决group by无法查询的问题(mysql8默认加了 ONLY_FULL_GROUP_BY 所以不能查询),
# 默认为0,大小写敏感,设置1,大小写不敏感.
lower-case-table-names=1
# host_cache_size 控制主机缓存的大小,以及 host_cache 公开缓存内容的性能模式表的大小:
# 注意:host_cache_size=0 表示禁用主机缓存,禁用后每次客户端连接时,服务器都会执行 DNS 查找.
host_cache_size=0
# 默认存储引擎
default-storage-engine=INNODB
# 连接超时(单位为秒)
connect_timeout=20
# 最大连接数
max_connections=666